    <h3><%= title %> Author credits</h3>
    <ul>
    	<li>Autor: Juan José Fajardo</li>
    	<li><img src="/images/profile.gif" alt="my profile" height="100" width="70"</li>
    	<li><iframe src="https://www.youtube.com/embed/-sm2mb-5QVo" width="260" height="160" frameborder="0" allowfullscreen></iframe></li>
    	<li><a href="http://webappdevm.blogspot.com.es/" target="_blank">web applications development</a></li>
    </ul>
    