<!DOCTYPE html><html>
<head>
	<meta charset="UTF-8">
	<title>Preguntas</title>
	<!-- standard screen -->
  	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>	
  	<!-- wide screen -->
  	<link rel="stylesheet" type="text/css" media="only screen and (min-width:530px) and (min-device-width:481px)" href="/stylesheets/wide.css"/>
  	<!-- smartphone screen -->
  	<link rel="stylesheet" type="text/css" media="only screen and (max-width:480px)" href="/stylesheets/smartphone.css"/>  	
</head>

<body>
	<div id="page-wrap">
		<header class="main" id="h1">
			<!-- Botones login y logout -->
			<% if ( ! session.user )
				{ %>
				<span class="right"><a href="/login">Login</a></span>
			 <% }
			  else
			  	{ %>
			  	<span class="right"> <%= session.user.username %> <a href="/logout">Logout</a></span>
			 <% } %>

			<h2>Quiz: el juego de las preguntas</h2>
		</header>
			<nav class="main" id="n1" role="navigation">
				<span><a href="/">Inicio</a></span>
				<span><a href="/quizes">Preguntas</a></span>
				<span><a href="/author">Créditos</a></span>
			</nav>
		<section class="main" id="s1">
			<!-- gestión de errores  -->
			<% if ( errors.length )
				{ %>
				<span id='ErrorMsgs'>Corregir errores:<br/>
					<% for (var i in errors) { %>
						<span> <%= errors[i].message %> </span><br/>
						<% } %>
					</span>
			 <% } %>

			<!-- render de la vista con el body introducido aquí  -->
			<%- body %>
		</section>
		<footer class="main" id="f1">
			<ul>
				<li><a href="http://es.wikipedia.org/wiki/Quiz" target="_blank">¿Qué es un Quiz?</a></li>
				<li><a href="https://github.com/JuanJoseFajardo/quiz-2015-jjft" target="_blank">My github quiz project</a></li>
				<li><a href="https://github.com/jquemada/quiz-2015" target="_blank">Juan Quemada quiz project</a></li>
			</ul>
		</footer>
    </div>
</body>
</html>