<label for="tema" class="ren">Tema:</label>
	<select name="quiz[indice_tematico]">
		<option value="Otro" 
			<% if ( quiz.indice_tematico === "Otro" )        { %> selected <% } %> > Otro
		</option>
		<option value="Ciencia"
			<% if ( quiz.indice_tematico === "Ciencia" )     { %> selected <% } %> > Ciencia
		</option>
		<option value="Geografia"
			<% if ( quiz.indice_tematico === "Geografia" )   { %> selected <% } %> > Geografía 
		</option>
		<option value="Humanidades"
			<% if ( quiz.indice_tematico === "Humanidades" ) { %> selected <% } %> > Humanidades
		</option>
  		<option value="Ocio"
  			<% if ( quiz.indice_tematico === "Ocio" )        { %> selected <% } %> > Ocio
  		</option>
		<option value="Tecnologia"
			<% if ( quiz.indice_tematico === "Tecnologia" )  { %> selected <% } %> > Tecnología 
		</option>
	</select> <p>

<label for="preg" class="ren">Pregunta:</label>
 	<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> <p>

<label for="resp" class="ren">Respuesta:</label>
 	<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> <p>

<a href="/quizes"><button type="button">Cancelar</button></a>

<input type="submit" value="salvar"/>
