    <p>Respuesta <%= respuesta %></p>
    <ul>
    <% if (respuesta == 'Incorrecta')
    	{ %>
    		<li><a href="/quizes/<%= quiz.id %>">Inténtelo otra vez</a></li>
    <%  } %>
    
    		<li><a href="/quizes">Volver a lista de preguntas</a></li>
    </ul>
