    <p class="left">Respuesta <%= respuesta %></p>
    </br>
    <ul class="left">
    <% if (respuesta == 'Incorrecta')
    	{ %>
    		<li style='text-align: left;'><a href="/quizes/<%= quiz.id %>">Inténtelo otra vez</a></li>
    <%  } %>
    		<li style='text-align: left;'><a href="/quizes">Volver a lista de preguntas</a></li>
    </ul>
