    <form method="get" action="/quizes/<%= quiz.id %>/answer">
    	<p> Tema: <%= quiz.indice_tematico %></p></br>
    	<p> Pregunta: <%= quiz.pregunta %></p></br>
    	<input type="text" name="respuesta" placeholder="Responda aquí"/>
    	<input type="submit" value="Enviar"/>
    </form>
    </br>
    <a href="/quizes">Volver a lista de preguntas</a>
